.version.appmifinca /* version checker */
{
	color: #0000F3;
	background-color: #C7FDFC;
}

.html
{
	background-color: #EEF3F9;
}

#page
{
	z-index: 1;
	width: 1120px;
	min-height: 497px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 211px;
	width: 0.01px;
}

#u6417
{
	z-index: 445;
	height: 149px;
	top: 0px;
}

#u6417-bw
{
	z-index: 445;
}

#u6454
{
	z-index: 446;
	width: 382px;
	height: 131px;
	top: 7px;
	left: 50%;
	margin-left: -569px;
}

#pamphletu6575
{
	z-index: 447;
	width: 0.01px;
	height: 34px;
	padding-bottom: 77px;
	top: 61px;
	left: 50%;
	margin-left: -560px;
}

#u6578
{
	z-index: 448;
	width: 642px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 478px;
}

#u6579
{
	width: 95px;
	padding-bottom: 15px;
	top: -15px;
}

#u6579.PamphletThumbSelected
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u6593-4
{
	z-index: 450;
	width: 95px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u6579:hover #u6593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 95px;
	margin: 16px -10000px 0px 0px;
}

#u6579.PamphletThumbSelected #u6593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 95px;
	margin: 16px -10000px 0px 0px;
}

#u6635
{
	width: 140px;
	padding-bottom: 15px;
	top: -15px;
	left: 95px;
}

#u6635.PamphletThumbSelected
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u6643-4
{
	z-index: 455;
	width: 137px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u6635:hover #u6643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 137px;
	margin: 16px -10000px 0px 0px;
}

#u6635.PamphletThumbSelected #u6643-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 137px;
	margin: 16px -10000px 0px 0px;
}

#u6661
{
	width: 153px;
	padding-bottom: 15px;
	top: -16px;
	left: 371px;
}

#u6661.PamphletThumbSelected
{
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u6663-4
{
	z-index: 460;
	width: 142px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 6px;
}

#u6661:hover #u6663-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 16px -10000px 0px 0px;
}

#u6661.PamphletThumbSelected #u6663-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 16px -10000px 0px 0px;
}

#u7282
{
	width: 118px;
	padding-bottom: 15px;
	top: -16px;
	left: 524px;
}

#u7282.PamphletThumbSelected
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u7430-4
{
	z-index: 465;
	width: 117px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1px;
}

#u7282:hover #u7430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 117px;
	margin: 16px -10000px 0px 0px;
}

#u7282.PamphletThumbSelected #u7430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 117px;
	margin: 16px -10000px 0px 0px;
}

#u7437
{
	width: 135px;
	padding-bottom: 15px;
	top: -15px;
	left: 235px;
}

#u7437.PamphletThumbSelected
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u7440-4
{
	z-index: 470;
	width: 133px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u7437:hover #u7440-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 133px;
	margin: 16px -10000px 0px 0px;
}

#u7437.PamphletThumbSelected #u7440-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 133px;
	margin: 16px -10000px 0px 0px;
}

#u6580popup
{
	z-index: 474;
}

#u6580
{
	width: 1120px;
	top: 67px;
}

#u6581
{
	z-index: 475;
	width: 1120px;
	height: 43px;
	margin-right: -10000px;
}

#u8044-4
{
	z-index: 488;
	width: 180px;
	min-height: 36px;
	margin-right: -10000px;
	left: 360px;
}

#u8044-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u8039-4
{
	z-index: 476;
	width: 180px;
	min-height: 36px;
	margin-right: -10000px;
	left: 540px;
}

#u8044-4.MuseLinkActive,#u8039-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u8039-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u8042-4
{
	z-index: 480;
	width: 202px;
	min-height: 36px;
	margin-right: -10000px;
	left: 720px;
}

#u8042-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 202px;
	margin: 0px -10000px 0px 0px;
}

#u8043-4
{
	z-index: 484;
	width: 197px;
	min-height: 36px;
	margin-right: -10000px;
	left: 923px;
}

#u8043-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6637
{
	z-index: 492;
	width: 1120px;
	height: 43px;
	margin-right: -10000px;
}

#pu7287-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 240px;
}

#u7287-4
{
	z-index: 493;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
}

#u7288-4
{
	z-index: 497;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
	left: 160px;
}

#u7289-4
{
	z-index: 501;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
	left: 320px;
}

#u7290-4
{
	z-index: 505;
	width: 202px;
	min-height: 36px;
	margin-right: -10000px;
	left: 480px;
}

#u7291-4
{
	z-index: 509;
	width: 197px;
	min-height: 36px;
	margin-right: -10000px;
	left: 923px;
}

#u8043-4.MuseLinkActive,#u7291-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u6660
{
	z-index: 513;
	width: 1120px;
	height: 43px;
	margin-right: -10000px;
}

#pu7753-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 274px;
}

#u7753-4
{
	z-index: 514;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
}

#u7287-4:hover,#u7288-4:hover,#u7289-4:hover,#u7753-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u7754-4
{
	z-index: 518;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
	left: 160px;
}

#u7755-4
{
	z-index: 522;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
	left: 320px;
}

#u7756-4
{
	z-index: 526;
	width: 202px;
	min-height: 36px;
	margin-right: -10000px;
	left: 480px;
}

#u7757-4
{
	z-index: 530;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
	left: 959px;
}

#u7753-4.MuseLinkActive,#u7754-4:hover,#u7755-4:hover,#u7757-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u7284
{
	z-index: 534;
	width: 1120px;
	height: 43px;
	margin-right: -10000px;
}

.ie #u7284
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7439
{
	z-index: 535;
	width: 1120px;
	height: 43px;
	margin-right: -10000px;
}

#u7441-4
{
	z-index: 536;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
	left: 438px;
}

#u7757-4.MuseLinkActive,#u7441-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u7442-4
{
	z-index: 540;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
	left: 598px;
}

#u7443-4
{
	z-index: 544;
	width: 161px;
	min-height: 36px;
	margin-right: -10000px;
	left: 758px;
}

#u7441-4.MuseLinkActive,#u7442-4:hover,#u7443-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u7444-4
{
	z-index: 548;
	width: 202px;
	min-height: 36px;
	margin-right: -10000px;
	left: 918px;
}

#u8042-4.MuseLinkActive,#u7290-4:hover,#u7756-4:hover,#u7444-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 202px;
	margin: 0px -10000px 0px 0px;
}

#pu8148
{
	width: 0.01px;
	margin-left: 359px;
}

#u8148
{
	z-index: 5;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 86px;
}

#u7745
{
	z-index: 422;
	width: 392px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8155
{
	z-index: 428;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 564px;
}

#u8155_clip
{
	overflow: hidden;
	width: 32px;
	height: 32px;
}

#u8155_img
{
	margin-left: -3px;
	margin-right: -3px;
	margin-bottom: -6px;
}

#pu8154-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 596px;
}

#u8154-4
{
	z-index: 424;
	width: 102px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
}

#pu8157
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 26px;
}

#u8157
{
	z-index: 430;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8159
{
	z-index: 432;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 45px;
}

#u8161
{
	z-index: 434;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 699px;
}

#u7471-4
{
	z-index: 11;
	width: 980px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	font-size: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 65px;
	margin-top: 29px;
	position: relative;
}

#pu8051
{
	width: 0.01px;
	margin-left: -35px;
	margin-top: 28px;
}

#u8051
{
	z-index: 2;
	width: 150px;
	min-height: 79px;
	margin-right: -10000px;
}

#u7469-4
{
	z-index: 6;
	width: 520px;
	min-height: 46px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 1.6;
	text-align: left;
	color: #009CDE;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 134px;
}

#u7470
{
	z-index: 10;
	width: 554px;
	height: 1px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 100px;
}

#u7627-4
{
	z-index: 365;
	width: 554px;
	min-height: 44px;
	background-color: transparent;
	text-align: left;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#slideshowu7628
{
	z-index: 369;
	width: 0.01px;
	height: 381px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 246px;
}

#u7635
{
	position: absolute;
	width: 380px;
	height: 381px;
	background-color: transparent;
	left: 440px;
}

#u7635popup
{
	z-index: 370;
}

#u7638
{
	z-index: 371;
	width: 380px;
	height: 381px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7642
{
	z-index: 373;
	width: 380px;
	height: 381px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7644
{
	z-index: 375;
	width: 380px;
	height: 381px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7636
{
	z-index: 377;
	width: 380px;
	height: 381px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7638_img,#u7642_img,#u7644_img,#u7636_img
{
	padding-top: 1px;
}

#u7640
{
	z-index: 379;
	width: 380px;
	height: 381px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7640_img
{
	padding-bottom: 1px;
}

#u7629
{
	position: absolute;
	width: 408px;
	background-color: transparent;
	top: 273px;
}

#u7629popup
{
	z-index: 381;
}

#u7632-6
{
	z-index: 382;
	width: 388px;
	min-height: 85px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: justify;
	color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7631-6
{
	z-index: 388;
	width: 388px;
	min-height: 85px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: justify;
	color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7633-6
{
	z-index: 394;
	width: 388px;
	min-height: 85px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: justify;
	color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7630-6
{
	z-index: 400;
	width: 388px;
	min-height: 85px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: justify;
	color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7634-6
{
	z-index: 406;
	width: 388px;
	min-height: 85px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: justify;
	color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u7632-4,#u7631-4,#u7633-4,#u7630-4,#u7634-4
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u7662-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 153px;
	left: 440px;
}

#u7662-4popup
{
	z-index: 412;
}

#u7663-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 153px;
	left: 790px;
}

#u7663-4popup
{
	z-index: 416;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu7626-10
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: -243px;
}

#u7626-10
{
	z-index: 355;
	width: 554px;
	min-height: 122px;
	background-color: transparent;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u7632-2,#u7631-2,#u7633-2,#u7630-2,#u7634-2,#u7626-2
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u7626-4,#u7626-5,#u7626-7
{
	font-size: 13px;
}

#u7664
{
	z-index: 420;
	width: 163px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
}

#u7472
{
	z-index: 15;
	width: 900px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 105px;
	margin-top: 108px;
	position: relative;
}

#u7530
{
	z-index: 16;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu7532
{
	z-index: 17;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
}

#u7537
{
	z-index: 18;
	width: 181px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u7538
{
	position: absolute;
	width: 179px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #F7931E url("../images/relojw.png") no-repeat center center;
	background-size: cover;
}

#u7538:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/relojw.png") no-repeat center center;
	background-size: cover;
}

#u7538:active
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/relojw.png") no-repeat center center;
	background-size: cover;
}

#u7535
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 5px;
	top: -49px;
	left: 772px;
}

#u7535:hover
{
	background-color: #ED1C24;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7535:active
{
	background-color: #C1272D;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7536-4
{
	z-index: 21;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u7541
{
	position: absolute;
	width: 667px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -75px;
	left: 82px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7541popup
{
	z-index: 25;
}

#u7542
{
	z-index: 26;
	width: 623px;
	height: 429px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7543
{
	z-index: 27;
	width: 597px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 12px;
}

#u7548
{
	z-index: 28;
	width: 187px;
	height: 211px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	background: #C69C6D url("../images/relojw-ieu7548-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/relojw.png") no-repeat center center;
	background-color: #C69C6D;
	background-size: contain;
}

#u7545-4
{
	z-index: 46;
	width: 187px;
	min-height: 57px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 22px;
	position: relative;
}

#u7546-6
{
	z-index: 50;
	width: 384px;
	min-height: 43px;
	background-color: transparent;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u7544-4
{
	z-index: 29;
	width: 384px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 8px;
	position: relative;
}

#u7547-13
{
	z-index: 33;
	width: 382px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 14px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u7531-4
{
	z-index: 56;
	width: 180px;
	min-height: 23px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #009CDE;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#u7511
{
	z-index: 102;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#pamphletu7513
{
	z-index: 103;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
}

#u7526
{
	z-index: 104;
	width: 181px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u7527
{
	position: absolute;
	width: 179px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #F7931E url("../images/taskw.png") no-repeat center center;
	background-size: cover;
}

#u7527:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/taskw.png") no-repeat center center;
	background-size: cover;
}

#u7527:active
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/taskw.png") no-repeat center center;
	background-size: cover;
}

#u7514
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -12px;
	left: 525px;
}

#u7514:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7515-4
{
	z-index: 107;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u7518
{
	position: absolute;
	width: 667px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 18px;
	left: -112px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7518popup
{
	z-index: 111;
}

#u7519
{
	z-index: 112;
	width: 623px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7520
{
	z-index: 113;
	width: 597px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 12px;
}

#u7521
{
	z-index: 114;
	width: 187px;
	height: 211px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	background: #C69C6D url("../images/taskw-ieu7521-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/taskw.png") no-repeat center center;
	background-color: #C69C6D;
	background-size: cover;
}

#u7525-4
{
	z-index: 132;
	width: 187px;
	min-height: 57px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 22px;
	position: relative;
}

#u7523-6
{
	z-index: 136;
	width: 384px;
	min-height: 43px;
	background-color: transparent;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u7522-4
{
	z-index: 115;
	width: 384px;
	min-height: 133px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 8px;
	position: relative;
}

#u7524-13
{
	z-index: 119;
	width: 382px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#u7512-4
{
	z-index: 142;
	width: 180px;
	min-height: 23px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #009CDE;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#u7492
{
	z-index: 146;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 479px;
}

#pamphletu7493
{
	z-index: 147;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
}

#u7496
{
	z-index: 148;
	width: 181px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u7497
{
	position: absolute;
	width: 179px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #F7931E url("../images/poliw.png") no-repeat center center;
	background-size: cover;
}

#u7497:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/poliw.png") no-repeat center center;
	background-size: cover;
}

#u7497:active
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/poliw.png") no-repeat center center;
	background-size: cover;
}

#u7508
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 55px;
	left: 331px;
}

#u7508:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7509-4
{
	z-index: 151;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u7498
{
	position: absolute;
	width: 667px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 91px;
	left: -306px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7498popup
{
	z-index: 155;
}

#u7499
{
	z-index: 156;
	width: 623px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7500
{
	z-index: 157;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 12px;
}

#pu7503
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u7503
{
	z-index: 158;
	width: 187px;
	height: 238px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	background: #C69C6D url("../images/poliw-ieu7503-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/poliw.png") no-repeat center center;
	background-color: #C69C6D;
	background-size: cover;
}

#u7505-4
{
	z-index: 176;
	width: 187px;
	min-height: 64px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 24px;
	position: relative;
}

#pu7504-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 212px;
}

#u7504-4
{
	z-index: 180;
	width: 384px;
	min-height: 48px;
	background-color: transparent;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u7501-4
{
	z-index: 159;
	width: 370px;
	min-height: 149px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 9px;
	position: relative;
}

#u7502-13
{
	z-index: 163;
	width: 382px;
	min-height: 130px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 16px;
	position: relative;
}

#u7510-4
{
	z-index: 184;
	width: 180px;
	min-height: 23px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #009CDE;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#u7473
{
	z-index: 60;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 719px;
}

#pamphletu7475
{
	z-index: 61;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
}

#u7476
{
	z-index: 62;
	width: 181px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u7477
{
	position: absolute;
	width: 179px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #F7931E url("../images/inciw.png") no-repeat center center;
	background-size: cover;
}

#u7477:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/inciw.png") no-repeat center center;
	background-size: cover;
}

#u7477:active
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/inciw.png") no-repeat center center;
	background-size: cover;
}

#u7478
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 456px;
	left: 15px;
}

#u7478:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7479-4
{
	z-index: 65;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u7482
{
	position: absolute;
	width: 667px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 489px;
	left: -618px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7482popup
{
	z-index: 69;
}

#u7483
{
	z-index: 70;
	width: 623px;
	height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7484
{
	z-index: 71;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 12px;
}

#u7487
{
	z-index: 72;
	width: 187px;
	height: 211px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	background: #C69C6D url("../images/inciw-ieu7487-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/inciw.png") no-repeat center center;
	background-color: #C69C6D;
	background-size: contain;
}

#u7489-4
{
	z-index: 90;
	width: 187px;
	min-height: 57px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 22px;
	position: relative;
}

#u7486-4
{
	z-index: 94;
	width: 384px;
	min-height: 43px;
	background-color: transparent;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u7485-4
{
	z-index: 73;
	width: 371px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 8px;
	position: relative;
}

#u7488-13
{
	z-index: 77;
	width: 369px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 12px;
	position: relative;
}

#u7474-4
{
	z-index: 98;
	width: 180px;
	min-height: 23px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #009CDE;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#u7549
{
	z-index: 188;
	width: 900px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 105px;
	margin-top: 45px;
	position: relative;
}

#u7550
{
	z-index: 189;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu7551
{
	z-index: 190;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
}

#u7552
{
	z-index: 191;
	width: 181px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u7553
{
	position: absolute;
	width: 179px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #F7931E url("../images/geo.png") no-repeat center center;
	background-size: cover;
}

#u7553:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/geo.png") no-repeat center center;
	background-size: cover;
}

#u7553:active
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/geo.png") no-repeat center center;
	background-size: cover;
}

#u7564
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 214px;
	left: 725px;
}

#u7564:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7565-4
{
	z-index: 194;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u7556
{
	position: absolute;
	width: 667px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 180px;
	left: -26px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7556popup
{
	z-index: 198;
}

#u7557
{
	z-index: 199;
	width: 623px;
	height: 418px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7558
{
	z-index: 200;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 12px;
}

#u7560
{
	z-index: 201;
	width: 187px;
	height: 211px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	background: #C69C6D url("../images/geo-ieu7560-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/geo.png") no-repeat center center;
	background-color: #C69C6D;
	background-size: contain;
}

#u7559-4
{
	z-index: 219;
	width: 187px;
	min-height: 57px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 22px;
	position: relative;
}

#u7561-4
{
	z-index: 223;
	width: 384px;
	min-height: 43px;
	background-color: transparent;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u7563-4
{
	z-index: 202;
	width: 371px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 8px;
	position: relative;
}

#u7562-13
{
	z-index: 206;
	width: 382px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 14px;
	position: relative;
}

#u7568-4
{
	z-index: 227;
	width: 180px;
	min-height: 23px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #009CDE;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#u7607
{
	z-index: 231;
	width: 753px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 466px;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#pamphletu7609
{
	z-index: 232;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#u7624
{
	z-index: 233;
	width: 181px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u7625
{
	position: absolute;
	width: 179px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #F7931E url("../images/informes.png") no-repeat center center;
	background-size: cover;
}

#u7625:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/informes.png") no-repeat center center;
	background-size: cover;
}

#u7625:active
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/informes.png") no-repeat center center;
	background-size: cover;
}

#u7622
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 213px;
}

#u7622:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7623-4
{
	z-index: 236;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u7610
{
	position: absolute;
	width: 667px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 273px;
	left: -572px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7610popup
{
	z-index: 240;
}

#u7611
{
	z-index: 241;
	width: 623px;
	height: 362px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7612
{
	z-index: 242;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 12px;
}

#u7613
{
	z-index: 243;
	width: 187px;
	height: 211px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	background: #C69C6D url("../images/informes-ieu7613-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/informes.png") no-repeat center center;
	background-color: #C69C6D;
	background-size: contain;
}

#u7615-4
{
	z-index: 259;
	width: 187px;
	min-height: 57px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 22px;
	position: relative;
}

#u7616-4
{
	z-index: 263;
	width: 384px;
	min-height: 43px;
	background-color: transparent;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u7614-4
{
	z-index: 244;
	width: 371px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 8px;
	position: relative;
}

#u7617-11
{
	z-index: 248;
	width: 369px;
	min-height: 156px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 14px;
	position: relative;
}

#u7608-4
{
	z-index: 267;
	width: 180px;
	min-height: 23px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #009CDE;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 572px;
}

#u7588
{
	z-index: 271;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#pamphletu7590
{
	z-index: 272;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
}

#u7591
{
	z-index: 273;
	width: 181px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u7592
{
	position: absolute;
	width: 179px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #F7931E url("../images/mediciones.png") no-repeat center center;
	background-size: cover;
}

#u7592:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/mediciones.png") no-repeat center center;
	background-size: cover;
}

#u7592:active
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/mediciones.png") no-repeat center center;
	background-size: cover;
}

#u7595
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 213px;
	left: 482px;
}

#u7595:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7596-4
{
	z-index: 276;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u7599
{
	position: absolute;
	width: 667px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 290px;
	left: -109px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7599popup
{
	z-index: 280;
}

#u7600
{
	z-index: 281;
	width: 623px;
	height: 414px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7601
{
	z-index: 282;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 12px;
}

#u7603
{
	z-index: 283;
	width: 187px;
	height: 211px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	background: #C69C6D url("../images/mediciones-ieu7603-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/mediciones.png") no-repeat center center;
	background-color: #C69C6D;
	background-size: contain;
}

#u7604-4
{
	z-index: 301;
	width: 187px;
	min-height: 57px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 22px;
	position: relative;
}

#u7602-4
{
	z-index: 305;
	width: 384px;
	min-height: 43px;
	background-color: transparent;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u7605-4
{
	z-index: 284;
	width: 371px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 8px;
	position: relative;
}

#u7606-13
{
	z-index: 288;
	width: 369px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 14px;
	position: relative;
}

#u7589-4
{
	z-index: 309;
	width: 180px;
	min-height: 23px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #009CDE;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#u7569
{
	z-index: 313;
	width: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 479px;
}

#pamphletu7570
{
	z-index: 314;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
}

#u7571
{
	z-index: 315;
	width: 181px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u7572
{
	position: absolute;
	width: 179px;
	height: 179px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background: #F7931E url("../images/mens.png") no-repeat center center;
	background-size: cover;
}

#u7572:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/mens.png") no-repeat center center;
	background-size: cover;
}

#u7572:active
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	border-radius: 0px;
	width: 179px;
	height: 179px;
	min-height: 0px;
	margin: 0px;
	background: #A1D313 url("../images/mens.png") no-repeat center center;
	background-size: cover;
}

#u7577
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 213px;
	left: 245px;
}

#u7577:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7514:active,#u7508:active,#u7478:active,#u7564:active,#u7622:active,#u7595:active,#u7577:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u7578-4
{
	z-index: 318;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1.4;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u7579
{
	position: absolute;
	width: 667px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 348px;
	left: -334px;
	-pie-background: rgba(0,0,0,0.9);
}

#u7579popup
{
	z-index: 322;
}

#u7580
{
	z-index: 323;
	width: 623px;
	height: 348px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7581
{
	z-index: 324;
	width: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 12px;
}

#pu7548,#pu7521,#pu7487,#pu7560,#pu7613,#pu7603,#pu7583
{
	width: 0.01px;
	margin-right: -10000px;
}

#u7583
{
	z-index: 325;
	width: 187px;
	height: 211px;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	position: relative;
	background: #C69C6D url("../images/mens-ieu7583-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/mens.png") no-repeat center center;
	background-color: #C69C6D;
	background-size: contain;
}

#u7584-4
{
	z-index: 343;
	width: 187px;
	min-height: 57px;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	font-family: maven-pro, sans-serif;
	font-weight: 900;
	margin-top: 22px;
	position: relative;
}

#u7545-2,#u7525-2,#u7505-2,#u7489-2,#u7559-2,#u7615-2,#u7604-2,#u7584-2
{
	padding-top: 18px;
}

#pu7546-6,#pu7523-6,#pu7486-4,#pu7561-4,#pu7616-4,#pu7602-4,#pu7582-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 212px;
}

#u7582-4
{
	z-index: 347;
	width: 384px;
	min-height: 43px;
	background-color: transparent;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u7586-4
{
	z-index: 326;
	width: 371px;
	min-height: 115px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 8px;
	position: relative;
}

#u7585-13
{
	z-index: 330;
	width: 369px;
	min-height: 133px;
	background-color: #FFFFFF;
	line-height: 1.6;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 14px;
	position: relative;
}

#u7547-2,#u7547-4,#u7547-6,#u7547-8,#u7547-10,#u7524-2,#u7524-4,#u7524-6,#u7524-8,#u7524-10,#u7502-2,#u7502-4,#u7502-6,#u7502-8,#u7502-10,#u7488-2,#u7488-4,#u7488-6,#u7488-8,#u7488-10,#u7562-2,#u7562-4,#u7562-6,#u7562-8,#u7562-10,#u7617-2,#u7617-4,#u7617-6,#u7617-8,#u7606-2,#u7606-4,#u7606-6,#u7606-8,#u7606-10,#u7585-2,#u7585-4,#u7585-6,#u7585-8,#u7585-10
{
	padding-left: -23px;
}

#u7547-11 > #u7547-2:before,#u7547-11 > #u7547-4:before,#u7547-11 > #u7547-6:before,#u7547-11 > #u7547-8:before,#u7547-11 > #u7547-10:before,#u7524-11 > #u7524-2:before,#u7524-11 > #u7524-4:before,#u7524-11 > #u7524-6:before,#u7524-11 > #u7524-8:before,#u7524-11 > #u7524-10:before,#u7502-11 > #u7502-2:before,#u7502-11 > #u7502-4:before,#u7502-11 > #u7502-6:before,#u7502-11 > #u7502-8:before,#u7502-11 > #u7502-10:before,#u7488-11 > #u7488-2:before,#u7488-11 > #u7488-4:before,#u7488-11 > #u7488-6:before,#u7488-11 > #u7488-8:before,#u7488-11 > #u7488-10:before,#u7562-11 > #u7562-2:before,#u7562-11 > #u7562-4:before,#u7562-11 > #u7562-6:before,#u7562-11 > #u7562-8:before,#u7562-11 > #u7562-10:before,#u7617-9 > #u7617-2:before,#u7617-9 > #u7617-4:before,#u7617-9 > #u7617-6:before,#u7617-9 > #u7617-8:before,#u7606-11 > #u7606-2:before,#u7606-11 > #u7606-4:before,#u7606-11 > #u7606-6:before,#u7606-11 > #u7606-8:before,#u7606-11 > #u7606-10:before,#u7585-11 > #u7585-2:before,#u7585-11 > #u7585-4:before,#u7585-11 > #u7585-6:before,#u7585-11 > #u7585-8:before,#u7585-11 > #u7585-10:before
{
	margin-right: 29px;
}

#u7547-11.rtl-list > #u7547-2:before,#u7547-11.rtl-list > #u7547-4:before,#u7547-11.rtl-list > #u7547-6:before,#u7547-11.rtl-list > #u7547-8:before,#u7547-11.rtl-list > #u7547-10:before,#u7524-11.rtl-list > #u7524-2:before,#u7524-11.rtl-list > #u7524-4:before,#u7524-11.rtl-list > #u7524-6:before,#u7524-11.rtl-list > #u7524-8:before,#u7524-11.rtl-list > #u7524-10:before,#u7502-11.rtl-list > #u7502-2:before,#u7502-11.rtl-list > #u7502-4:before,#u7502-11.rtl-list > #u7502-6:before,#u7502-11.rtl-list > #u7502-8:before,#u7502-11.rtl-list > #u7502-10:before,#u7488-11.rtl-list > #u7488-2:before,#u7488-11.rtl-list > #u7488-4:before,#u7488-11.rtl-list > #u7488-6:before,#u7488-11.rtl-list > #u7488-8:before,#u7488-11.rtl-list > #u7488-10:before,#u7562-11.rtl-list > #u7562-2:before,#u7562-11.rtl-list > #u7562-4:before,#u7562-11.rtl-list > #u7562-6:before,#u7562-11.rtl-list > #u7562-8:before,#u7562-11.rtl-list > #u7562-10:before,#u7617-9.rtl-list > #u7617-2:before,#u7617-9.rtl-list > #u7617-4:before,#u7617-9.rtl-list > #u7617-6:before,#u7617-9.rtl-list > #u7617-8:before,#u7606-11.rtl-list > #u7606-2:before,#u7606-11.rtl-list > #u7606-4:before,#u7606-11.rtl-list > #u7606-6:before,#u7606-11.rtl-list > #u7606-8:before,#u7606-11.rtl-list > #u7606-10:before,#u7585-11.rtl-list > #u7585-2:before,#u7585-11.rtl-list > #u7585-4:before,#u7585-11.rtl-list > #u7585-6:before,#u7585-11.rtl-list > #u7585-8:before,#u7585-11.rtl-list > #u7585-10:before
{
	margin-right: 0px;
	margin-left: 29px;
}

#u7587-4
{
	z-index: 351;
	width: 180px;
	min-height: 23px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #009CDE;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#pu8057
{
	width: 0.01px;
	margin-left: -100px;
}

#u8057
{
	z-index: 3;
	width: 32px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 803px;
}

#u8047
{
	z-index: 436;
	min-height: 60px;
	padding-bottom: 5px;
}

#u8047_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
	left: -100px;
}

#u8048-8
{
	z-index: 437;
	width: 1120px;
	min-height: 51px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 100px;
}

#u8047-bw
{
	z-index: 436;
	min-height: 60px;
}

body
{
	position: relative;
	min-width: 1120px;
}

#page .verticalspacer
{
	clear: both;
}

