<style>
body {font-family: Helvetica, Tahoma, Arial, sans-serif;}

.hijo {
width:500px;border: 3px solid #f1f1f1;}

.hijo2 {
border: 0px solid #f1f1f1;}

.cuadro {
width: 34%;
margin: 50px 0;
margin-left: 490px;
padding: 20px;
background: #fff;
overflow: hidden;
box-shadow: 0 0 3px grey;
border-top: 4px solid #536DFE;
}

button {
  align-content: center;
  background-color: #d3052c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
  background-color: white;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.imgcontainer {
  text-align: center;
  /*margin: 24px 0 12px 0;*/
}


/* Style all input fields */
input {
padding-top:5px; 
border:1px solid #536DFE;
border-radius: 2px;
width: 100%;
display: block;
margin-top:10px;
margin-bottom: 20px;
font-family: "Roboto", Arial, sans-serif, Helvetica;
font-size: 1em;
color: #141938;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: white;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  /*content: "✔";*/
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
 /* content: "✖";*/
}
</style>